name: PR build

on:
  workflow_call:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  deploy-snapshots:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.14.0
        with:
          java-distribution: 'temurin'
          java-version: 17
          maven-version: 3.9.9
          cache-enabled: true

      - name: Maven build
        run: mvn --batch-mode --update-snapshots -Dmaven.resolver.transport=wagon -DskipTests deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
